.header {
  // .header__wrapper

  &__wrapper {
    margin-top: 20px;
  }

  // .header__top

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__logo-wrapper

  &__logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .header__logo-link

  &__logo-link {
    font-size: 20px;
    color: #000000;
  }

  // .header__logo-img

  &__logo-img {
  }

  // .header__logo-title

  &__logo-title {
    font-family: "Benzin";
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
    color: #000000;
  }

  // .header__social

  &__social {
    display: flex;
    align-items: flex-end;
    gap: 10px;
  }

  // .header__social-icon

  &__social-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }

    &--html {
      border: 1px solid #2a2a2b;
      background-color: transparent;
      background-image: url("../img/svg/telegram.svg");
    }

    &--sass {
      border: 1px solid #2a2a2b;
      background-color: transparent;
      background-image: url("../img/svg/people.svg");
    }

    &--wa {
      border: 1px solid #2a2a2b;
      background-color: transparent;
      background-image: url("../img/svg/whatsapp.svg");
    }

    &--gulp {
      border: 1px solid #2a2a2b;
      background-color: transparent;
      background-image: url("../img/svg/email.svg");
    }
  }

  // .header__bottom

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
  }

  &__bottom-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__slogan

  &__slogan {
    font-size: 17px;
    font-weight: 400;
    line-height: 10px;

    color: rgba(0, 0, 0, 0.7);
  }

  // .header__phone

  &__phone {
    color: rgba(36, 25, 19, 70%);
    font-size: 14px;
    padding: 20px 25px;
    border: 1px solid rgba(36, 25, 19, 70%);
    border-radius: 53px;
    width: 197px;
  }

  // .header__menu

  &__menu {
    margin-bottom: 130px;
  }

  // .header__menu-list

  &__menu-list {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  // .header__menu-item

  &__menu-item {
    &__menu-link {
      font-family: "Benzin-Regular";
      color: rgba(36, 25, 19, 60%);
      font-size: 16px;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: #fe7;
      }
    }
  }
}
