<footer class="footer">
  <div class="container">
    <div class="footer__content">

      <!-- ЛОГО + СОЦСЕТИ -->
      <div class="footer__logo">
        <a href="/" class="footer__logo-link">
          <img src="img/logo.png" class="footer__logo-img" alt="Лого в футере">
        </a>
        <h1 class="footer__logo-title">VetMajor</h1>
        <p class="footer__logo-desc">С заботой о жизни</p>
        <div class="footer__social">
          <a href="#" class="footer__social-icon footer__social-icon--tg" aria-label="Telegram"></a>
          <a href="#" class="footer__social-icon footer__social-icon--wa" aria-label="Whatsapp"></a>
        </div>
      </div>

      <!-- МЕНЮ -->
      <div class="footer__menu">
        <div class="footer__menu-col">
          <ul class="footer__menu-list">
            <li class="footer__menu-item"><a href="consultation.html">Прием и консультация</a></li>
            <li class="footer__menu-item"><a href="vaccination.html">Вакцинация</a></li>
            <li class="footer__menu-item"><a href="surgery.html">Хирургия</a></li>
            <li class="footer__menu-item"><a href="castration-sterilization.html">Кастрация и стерилизация</a></li>
            <li class="footer__menu-item"><a href="stationary.html">Стационар</a></li>
          </ul>
        </div>

        <div class="footer__menu-col">
          <ul class="footer__menu-list">
            <li class="footer__menu-item"><a href="/">Главная</a></li>
            <li class="footer__menu-item"><a href="department.html">Клиника</a></li>
            <li class="footer__menu-item"><a href="services.html">Услуги и цены</a></li>
            <li class="footer__menu-item"><a href="articles.html">Статьи</a></li>
            <li class="footer__menu-item"><a href="checkup.html">Чек-ап</a></li>
          </ul>
        </div>
      </div>

      <!-- КОНТАКТЫ -->
      <div class="footer__contacts">
        <p class="footer__contacts-title">Остались вопросы? Звоните!</p>
        <a href="tel:+79999999999" class="footer__contacts-phone">+7 999 999 99 99</a>
        <a href="mailto:mail@vetmajor.ru" class="footer__contacts-email">mail@vetmajor.ru</a>
      </div>

    </div>
  </div>
</footer>