<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__top">
        <div class="header__logo-wrapper">
          <a href="/vetmajor/" class="header__logo-link">
            <img src="img/logo.png" class="header__logo-img" alt="VetMajor логотип">
          </a>
          <h1 class="header__logo-title">VetMajor</h1>
        </div>
        <div class="header__social">
          <a href="#" class="header__social-icon header__social-icon--html" aria-label="HTML"></a>
          <a href="#" class="header__social-icon header__social-icon--wa" aria-label="Whatsapp"></a>
          <a href="#" class="header__social-icon header__social-icon--sass" aria-label="Sass"></a>
          <a href="#" class="header__social-icon header__social-icon--gulp" aria-label="Gulp"></a>
        </div>
      </div>
      <div class="header__bottom">
        <p class="header__slogan">С заботой о жизни</p>
        <a href="tel:+79181119234" class="header__phone">+7 918 111 92 34</a>
      </div>
      <nav class="header__menu" aria-label="Главное меню">
        <ul class="header__menu-list">
          <li class="header__menu-item"><a class="header__menu-link" href="/vetmajor/">Главная</a></li>
          <li class="header__menu-item"><a class="header__menu-link" href="department.html">Центр</a></li>
          <li class="header__menu-item"><a class="header__menu-link" href="services.html">Услуги и цены</a></li>
          <li class="header__menu-item"><a class="header__menu-link" href="checkup.html">Чек-ап</a></li>
          <li class="header__menu-item"><a class="header__menu-link" href="doctors.html">Врачи</a></li>
          <li class="header__menu-item"><a class="header__menu-link" href="contacts.html">Контакты</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>