<header class="header">
  <div class="container">
    <div class="header__content">
      <div class="logo__content">
        <a href="/" class="logo"> <img src="../img/logo.png" alt=""></a>
        <h1 class="header__logo">VetMajor</h1>
      </div>
      <div class="social-group">
        <div class="social-icons">
          <a href="#" class="social-icon social-icon--html" aria-label="HTML"></a>
          <a href="#" class="social-icon social-icon--wa" aria-label="Whatsapp"></a>
          <a href="#" class="social-icon social-icon--sass" aria-label="Sass"></a>
          <a href="#" class="social-icon social-icon--gulp" aria-label="Gulp"></a>
        </div>
      </div>
    </div>

    <div class="header__content__item2">
      <p class="header-logo--desc">С заботой о жизни</p>
      <a href="#" class="header-phone">+7 918 111 92 34</a>
    </div>

    <nav class="menu">
      <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">Центр</a></li>
        <li><a href="#">Услуги и цены</a></li>
        <li><a href="#">Чек-ап</a></li>
        <li><a href="#">Врачи</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </nav>
  </div>
</header>