      <section class="hero">
        <div class="container">
          <div class="hero__content">
            <div class="hero__content-item">
              <h1 class="hero__title">Ветеринарный центр</h1>
              <div class="hero__record">
                <a href="#" class="hero__record-link">Записаться</a>
                <div class="hero__record-content">
                  <div class="hero__record-bg1">
                    <div class="hero__record-bg2">
                      <img src="./img/svg/play.svg" alt="">
                    </div>
                  </div>
                  <div class="hero__record-text">
                    <span class="hero__record-desc-item">О нас за пару минут</span>
                    <span class="hero__record-desc-item">2:32</span>
                  </div>
                </div>
                <!-- <a href="#">!</a>
                <span class="hero__record-desc-item">О нас за пару минут</span>
                <span class="hero__record-desc-item">2:32</span> -->
              </div>
              <div class="hero__advantages">
                <div class="hero__advantages-item">
                  <div class="hero__adv-item-title">7 лет</div>
                  <div class="hero__adv-item-subtitle">Заботимся о здоровье животных</div>
                </div>
                <div class="hero__advantages-item">
                  <div class="hero__adv-item-title">>500</div>
                  <div class="hero__adv-item-subtitle">Заботимся о здоровье животных</div>
                </div>
                <div class="hero__advantages-item">
                  <div class="hero__adv-item-title">90%</div>
                  <div class="hero__adv-item-subtitle">Заботимся о здоровье животных</div>
                </div>
              </div>
            </div>
            <div class="hero__content-item">
              <img src="./img/dogAndCat.png" class="hero__img" alt="Собаки и кот">
            </div>
          </div>
        </div>
      </section>