@include font-face("Benzin", "Benzin-Regular", 400, normal);

@include font-face("Benzin", "Benzin-Bold", 700, normal);

@include font-face("Benzin", "Benzin-Medium", 500, normal);

@include font-face("Benzin", "Benzin-SemiBold", 600, normal);

@include font-face("Benzin", "Benzin-Light", 300, normal);
