$font-main: "Benzin";
$font-family: "Benzin";
$content-width: 1170px;
$container-offset: 15px;
$container-width: calc(($content-width + $container-offset) * 2);
$primary-color: #e2c68d;
$text-color: #000;
$light-color: #fff;
$bg-col-body: #eed198;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
body {
  font-family: $font-main;
  color: $text-color;
  background-color: $bg-col-body;
  line-height: 1.4;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
